notifications:
  email: false
language: objective-c
xcode_workspace: TestMuckoSwift/TestMuckoSwift.xcworkspace
xcode_scheme: TestMuckoSwift
xcode_destination: platform=macOS,arch=x86_64
podfile: TestMuckoSwift/Podfile
before_install:
  - gem install cocoapods
  - gem update xcodeproj
  - cd TestMuckoSwift && pod update
script: cd TestMuckoSwift && pod install && make
